.solution-viewer {
  width: 75%;
  margin: 1em auto;
  background: var(--background);

  .Collapsible {
    .Collapsible__trigger {
      display: block;
      text-align: center;
      font-size: 2em;
      padding: 0.2em;
      font-weight: bold;
      user-select: none;
      cursor: pointer;
      background: var(--blue);
      color: white;
      text-transform: capitalize;
      transition: all ease-in .1s;

      &:hover {
        background: var(--ucll-accent);
      }
    }

    .Collapsible__contentInner {
      padding: 1em;
    }
  }
}