/**
 * Theme inspired by UCLL.
 */

// Variables
@import "./variables";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=JetBrains+Mono&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: var(--background);
  margin: 0;
}

#app {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  flex-direction: column;
}